
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}


.content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* background-color: greenyellow; */
}

#menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15vw;
    background-color: purple;
    align-items: center;
    overflow: hidden;
}

#menu a:hover {
    background-color: pink;
}

a {
    text-decoration: none;
    color: #288f21;
    font-weight: bold;
    padding: 5px 100%;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 10vh auto;
}

th {
    background-color:#288f21;
}

td,th {
    text-align: center;
    padding: 2vh;
}


tr:hover {
    background-color: #D3D3D3;
}

#studentenContent {
    align-items: center;
    justify-content: center;
}

#studentenForm {
    background-color: green;
    color: yellow;
    padding: 3vh;
    border-radius: 15px;
}

.buttons {
    margin-top: 2vh;
    background-color: yellow;
    color: purple;
}

.statusLink {
    text-decoration: underline;
    color: black
}

#meldingenContent {
    align-items: center;
}

#meldingForm {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    background-color: #288f21;
    padding: 3vh;
    color: pink;
}
